<div class="smart-widget widget-dark-blue margin-md">
	<div class="smart-widget-header">上线课程信息</div>
	<div class="smart-widget-inner">
	<div class="smart-widget-body" >
		<form name="lessonForm" class="form-horizontal no-margin" id="type-constraint" data-validate="parsley" novalidate>
			<div class="form-group"  ng-class="lessonForm.name.$invalid && lessonForm.name.$dirty ? 'has-error': ''">
				<label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;名称:</label>
				<div class="col-lg-6">
					<input name="name" ng-model="lesson.name" type="text" class="form-control input-sm" placeholder="名称" required>
					<label class="control-label" ng-show="lessonForm.name.$invalid && lessonForm.name.$dirty">名称不能为空</label>
				</div>
			</div>
			<!-- <div class="form-group"  ng-class="lessonForm.desc.$invalid && lessonForm.desc.$dirty ? 'has-error': ''">
                <label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;一句话介绍:</label>
                <div class="col-lg-6">
                    <input name="desc" ng-model="lesson.desc" type="text" class="form-control input-sm" placeholder="一句话介绍" required>
                    <label class="control-label" ng-show="lessonForm.desc.$invalid && lessonForm.desc.$dirty">一句话介绍不能为空</label>
                </div>
            </div> -->
			<div class="form-group">
				<label class="control-label col-lg-3">发布:</label>
				<div class="col-lg-1">
					<div class="custom-checkbox todo-checkbox">
						<input id="selection72" ng-model="lesson.enable" ng-checked="lesson.enable" type="checkbox">
						<label for="selection72" style="margin-top: 4px;"></label>
					</div>
				</div>
				<label class="control-label col-lg-2">置顶:</label>
                <div class="col-lg-1">
                    <div class="custom-checkbox todo-checkbox">
                        <input id="selection71" ng-model="lesson.top" ng-checked="lesson.top" type="checkbox">
                        <label for="selection71" style="margin-top: 4px;"></label>
                    </div>
                </div>
                <label class="control-label col-lg-2"><span class="text_red">*</span>置顶顺序:</label>
                <div class="col-lg-2">
                    <input name="topIndex" ng-model="lesson.topIndex" type="number" class="form-control input-sm" placeholder="置顶顺序" required>
                    <label class="control-label" ng-show="lessonForm.topIndex.$invalid && lessonForm.topIndex.$dirty">置顶顺序不能为空</label>
                </div>
				<!-- <label class="control-label col-lg-2">发布到首页:</label>
                <div class="col-lg-2">
                    <div class="custom-checkbox todo-checkbox">
                        <input id="selection2" ng-model="lesson.top" ng-checked="lesson.top" type="checkbox">
                        <label for="selection2" style="margin-top: 4px;"></label>
                    </div>
                </div> -->
			</div>
			<div class="form-group"  ng-class="lessonForm.shareTitle.$invalid && lessonForm.shareTitle.$dirty ? 'has-error': ''">
                <label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;分享标题:</label>
                <div class="col-lg-9">
                    <input name="shareTitle" ng-model="lesson.shareTitle" type="text" class="form-control input-sm" placeholder="分享标题" required>
                    <label class="control-label" ng-show="lessonForm.shareTitle.$invalid && lessonForm.shareTitle.$dirty">分享标题不能为空</label>
                </div>
            </div>
            <div class="form-group"  ng-class="lessonForm.shareTip.$invalid && lessonForm.shareTip.$dirty ? 'has-error': ''">
                <label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;分享描述:</label>
                <div class="col-lg-9">
                    <input name="shareTip" ng-model="lesson.shareTip" type="text" class="form-control input-sm" placeholder="分享描述" required>
                    <label class="control-label" ng-show="lessonForm.shareTip.$invalid && lessonForm.shareTip.$dirty">分享描述不能为空</label>
                </div>
            </div>
			<div class="form-group">
                <label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;授课老师:</label>
                <div class="col-lg-9">
                  <ui-select ng-model="lesson.teacherInfo" theme="bootstrap">
		            <ui-select-match placeholder="可以输入老师名称来查找">{{$select.selected.name}}</ui-select-match>
		            <ui-select-choices repeat="item in teachers | filter: $select.search">
		              <div ng-bind-html="item.name | highlight: $select.search"></div>
		            </ui-select-choices>
		          </ui-select>
                </div>
            </div>
			<div class="form-group">
                <label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;所属分类:</label>
                <div class="col-lg-9">
                    <ui-select multiple tagging ng-model="lesson.typeTags" theme="bootstrap">
                        <ui-select-match placeholder="可以输入分类名称来查找">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="tag in typeTags | filter: $select.search">
                            <div ng-bind-html="tag.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">&nbsp;所属专辑:</label>
                <div class="col-lg-9">
                    <ui-select multiple tagging ng-model="lesson.setTags" theme="bootstrap">
                        <ui-select-match placeholder="可以输入专辑名称来查找">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="tag in setTags | filter: $select.search">
                            <div ng-bind-html="tag.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">推荐商品:</label>
                <div class="col-lg-9">
                    <ui-select multiple tagging ng-model="lesson.products" theme="bootstrap">
                        <ui-select-match placeholder="可以输入商品名称来查找">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="product in products | filter: $select.search">
                            <div ng-bind-html="product.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group" ng-class="lessonForm.video.$invalid && lessonForm.video.$dirty ? 'has-error': ''">
                <label class="control-label col-lg-3">视频地址:</label>
                <div class="col-lg-6">
                    <input name="video" ng-model="lesson.video" type="url" class="form-control input-sm" placeholder="视频地址" required="required">
                    <label class="control-label" ng-show="lessonForm.video.$invalid && lessonForm.video.$dirty">请填写正常的url地址,如:http://www.baidu.com</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">课程大纲:</label>
                <div class="col-lg-8">
                    <div class="row" ng-repeat="video in lesson.videos">
                        <div class="col-lg-6">
                            <input ng-model="video.name" type="text" class="form-control input-sm" readonly="readonly" disabled="disabled">
                        </div>
                        <div class="col-lg-6">
                            <p class="input-group" style="margin-bottom: 3px;">
                                <input ng-model="video.link" type="text" class="form-control input-sm" readonly="readonly" disabled="disabled">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger input-sm" ng-click="removeVideo(video)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <input ng-model="newVideo.name" type="text" ng-keyup="addVideo2($event)" class="form-control input-sm" placeholder="视频名称">
                        </div>
                        <div class="col-lg-6">
                            <p class="input-group" style="margin-bottom: 0px;">
                                <input ng-model="newVideo.link" type="text" ng-keyup="addVideo2($event)" class="form-control input-sm" placeholder="视频链接">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info input-sm" ng-click="addVideo(newVideo)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-3">缩略图:</label>
                <div class="col-lg-4">
                    <div class="fileinput-button" style="border: 1px solid #abcdef; height: 90px; width: 160px;" >
                        <img ng-src="{{lesson.thumbnail}}" width="160px;", height="90px;">
                        <input type="file" id="file1" name="file1" pz-uploader action="doUpload1(files)">
                    </div>
                </div>
            </div>
			<div class="form-group">
				<label class="control-label col-lg-3"><span class="text_red">*</span>主题图:</label>
				<div class="col-lg-4">
					<div class="fileinput-button" style="border: 1px solid #abcdef; height: 180px; width: 320px;" >
						<img ng-src="{{lesson.image}}" width="320px;", height="180px;">
						<input type="file" id="file2" name="file2" pz-uploader action="doUpload2(files)">
					</div>
				</div>
			</div>
			<div class="text-right m-top-md">
				<button ng-click="save(lesson)" class="btn btn-success btn-sm" ng-disabled="lessonForm.$invalid"><i class="fa fa-save m-right-xs"></i>保存</button>
			</div>
		</form>
	</div>
	</div>
</div>