<div class="smart-widget widget-dark-blue margin-md">
	<div class="smart-widget-header">套餐信息</div>
	<div class="smart-widget-inner">
	<div class="smart-widget-body" >
		<form name="videoSetForm" class="form-horizontal no-margin" id="type-constraint" data-validate="parsley" novalidate>
			<div class="form-group"  ng-class="videoSetForm.name.$invalid && videoSetForm.name.$dirty ? 'has-error': ''">
				<label class="control-label col-lg-3">名称:</label>
				<div class="col-lg-9">
					<input name="name" ng-model="videoSet.name" type="text" class="form-control input-sm" placeholder="名称" required>
					<label class="control-label" ng-show="videoSetForm.name.$invalid && videoSetForm.name.$dirty">名称不能为空</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">精选:</label>
				<div class="col-lg-9">
					<div class="custom-checkbox todo-checkbox">
						<input id="selection" ng-model="videoSet.selection" ng-checked="videoSet.selection" type="checkbox">
						<label for="selection" style="margin-top: 4px;"></label>
					</div>
				</div>
			</div>
			<div class="form-group"  ng-class="videoSetForm.price.$invalid && videoSetForm.price.$dirty ? 'has-error': ''">
				<label class="control-label col-lg-3">价格:</label>
				<div class="col-lg-6">
					<input name="price" ng-model="videoSet.price" type="number" class="form-control input-sm" placeholder="价格" required>
					<label class="control-label" ng-show="videoSetForm.price.$invalid && videoSetForm.price.$dirty">价格不能为空</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">主题图:</label>
				<div class="col-lg-4">
					<div class="fileinput-button" style="border: 1px solid #abcdef; height: 180px; width: 320px;" >
						<img ng-src="{{videoSet.image}}" width="320px;", height="180px;">
						<input type="file" id="file1" name="file1" pz-uploader action="doUpload(files)">
					</div>
				</div>
			</div>
			<div class="text-right m-top-md">
				<button ng-click="save(videoSet)" class="btn btn-success btn-sm" ng-disabled="videoSetForm.$invalid"><i class="fa fa-save m-right-xs"></i>保存</button>
			</div>
		</form>
	</div>
	</div>
</div>