<div class="smart-widget widget-dark-blue margin-md">
	<div class="smart-widget-header">资讯信息</div>
	<div class="smart-widget-inner">
	<div class="smart-widget-body" >
		<form name="articleForm" class="form-horizontal no-margin" id="type-constraint" data-validate="parsley" novalidate>
			<div class="form-group"  ng-class="articleForm.title.$invalid && articleForm.title.$dirty ? 'has-error': ''">
				<label class="control-label col-lg-3">标题:</label>
				<div class="col-lg-6">
					<input name="title" ng-model="article.title" type="text" class="form-control input-sm" placeholder="标题" required>
					<label class="control-label" ng-show="articleForm.title.$invalid && articleForm.title.$dirty">标题不能为空</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">所属分类:</label>
				<div class="col-lg-9">
					<ui-select multiple tagging ng-model="article.tagInfos" theme="bootstrap">
			            <ui-select-match placeholder="可以输入分类名称来查找">{{$item.name}}</ui-select-match>
			            <ui-select-choices repeat="tag in tags | filter: $select.search">
			            	<div ng-bind-html="tag.name | highlight: $select.search"></div>
			            </ui-select-choices>
			    	</ui-select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">发布:</label>
				<div class="col-lg-1">
					<div class="custom-checkbox todo-checkbox">
						<input id="selection" ng-model="article.enable" ng-checked="article.enable" type="checkbox">
						<label for="selection" style="margin-top: 4px;"></label>
					</div>
				</div>
				<label class="control-label col-lg-1">推文:</label>
				<div class="col-lg-1">
					<div class="custom-checkbox todo-checkbox">
						<input id="selection2" ng-model="article.business" ng-checked="article.business" type="checkbox">
						<label for="selection2" style="margin-top: 4px;"></label>
					</div>
				</div>
				<label class="control-label col-lg-1">置顶:</label>
                <div class="col-lg-1">
                    <div class="custom-checkbox todo-checkbox">
                        <input id="selection3" ng-model="article.top" ng-checked="article.top" type="checkbox">
                        <label for="selection3" style="margin-top: 4px;"></label>
                    </div>
                </div>
				<label class="control-label col-lg-2">阅读量:</label>
				<div class="col-lg-2">
					<input name="readCount" ng-model="article.readCount" type="number" class="form-control input-sm" placeholder="阅读量" required>
					<label class="control-label" ng-show="articleForm.readCount.$invalid && articleForm.readCount.$dirty">阅读量不能为空</label>
				</div>
			</div>
			<div class="form-group" ng-class="articleForm.enableDate.$invalid && articleForm.enableDate.$dirty ? 'has-error': ''">
                <label class="control-label col-lg-3" style="padding-top: 40px;">自动发布时间:</label>
                <div class="col-md-3">
                    <p class="input-group" style="margin-bottom: 0px; padding-top: 35px;">
                        <input type="text" uib-datepicker-popup name="enableDate" ng-model="article.enableDate" class="form-control input-sm" is-open="popup1.opened"
                            datepicker-options="dateOptions" placeholder="开始时间" clear-text="清空" close-text="关闭" current-text="今天" on-open-focus="false"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <label class="control-label has-error" ng-show="articleForm.enableDate.$error.date && articleForm.enableDate.$dirty">
                        时间格式错误
                    </label>
                </div>
                <div class="col-md-3">
                    <uib-timepicker class="input-sm" ng-model="article.enableDate" hour-step="1" minute-step="1" show-meridian="false"></uib-timepicker>
                </div>
            </div>
			<div class="form-group"  ng-class="articleForm.principal.$invalid && articleForm.principal.$dirty ? 'has-error': ''">
				<label class="control-label col-lg-3">负责人:</label>
				<div class="col-lg-6">
					<input name="principal" ng-model="article.principal" type="text" class="form-control input-sm" placeholder="负责人" required>
					<label class="control-label" ng-show="articleForm.principal.$invalid && articleForm.principal.$dirty">负责人不能为空</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">列表图片:</label>
				<div class="col-lg-6">
					<div class="fileinput-button" style="border: 1px solid #abcdef; width: 200px; height: 150px;">
						<img ng-src="{{article.image}}" width="200px" height="150px">
						<input type="file" id="file1" name="file1" pz-uploader action="doUpload(files)">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">详情图片:</label>
				<div class="col-lg-6">
					<div class="fileinput-button" style="border: 1px solid #abcdef; width: 200px; height: 150px;">
						<img ng-src="{{article.image2}}" width="200px" height="150px">
						<input type="file" id="file2" name="file2" pz-uploader action="doUpload2(files)">
					</div>
				</div>
			</div>
			<div class="text-right m-top-md">
				<button ng-click="save(article)" class="btn btn-success btn-sm" ng-disabled="articleForm.$invalid"><i class="fa fa-save m-right-xs"></i>保存</button>
			</div>
		</form>
	</div>
	</div>
</div>
