
<link type="text/css" rel="stylesheet" href="admin/css/umeditor.css">
<script type="text/javascript" charset="utf-8" src="admin/scripts/jquery.min.js"></script>

<script type="text/javascript" src="admin/scripts/editor.js"></script>
<script type="text/javascript" src="admin/scripts/core/browser.js"></script>
<script type="text/javascript" src="admin/scripts/core/utils.js"></script>
<script type="text/javascript" src="admin/scripts/core/EventBase.js"></script>
<script type="text/javascript" src="admin/scripts/core/dtd.js"></script>
<script type="text/javascript" src="admin/scripts/core/domUtils.js"></script>
<script type="text/javascript" src="admin/scripts/core/Range.js"></script>
<script type="text/javascript" src="admin/scripts/core/Selection.js"></script>
<script type="text/javascript" src="admin/scripts/core/Editor.js"></script>
<script type="text/javascript" src="admin/scripts/core/filterword.js"></script>
<script type="text/javascript" src="admin/scripts/core/node.js"></script>
<script type="text/javascript" src="admin/scripts/core/htmlparser.js"></script>
<script type="text/javascript" src="admin/scripts/core/filternode.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/inserthtml.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/image.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/justify.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/font.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/link.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/print.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/paragraph.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/horizontal.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/cleardoc.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/undo.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/paste.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/list.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/source.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/enterkey.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/preview.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/basestyle.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/video.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/selectall.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/removeformat.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/keystrokes.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/autosave.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/autoupload.js"></script>
<script type="text/javascript" src="admin/scripts/plugins/formula.js"></script>
<script type="text/javascript" src="admin/scripts/ui/widget.js"></script>
<script type="text/javascript" src="admin/scripts/ui/button.js"></script>
<script type="text/javascript" src="admin/scripts/ui/toolbar.js"></script>
<script type="text/javascript" src="admin/scripts/ui/menu.js"></script>
<script type="text/javascript" src="admin/scripts/ui/dropmenu.js"></script>
<script type="text/javascript" src="admin/scripts/ui/splitbutton.js"></script>
<script type="text/javascript" src="admin/scripts/ui/colorsplitbutton.js"></script>
<script type="text/javascript" src="admin/scripts/ui/popup.js"></script>
<script type="text/javascript" src="admin/scripts/ui/scale.js"></script>
<script type="text/javascript" src="admin/scripts/ui/colorpicker.js"></script>
<script type="text/javascript" src="admin/scripts/ui/combobox.js"></script>
<script type="text/javascript" src="admin/scripts/ui/buttoncombobox.js"></script>
<script type="text/javascript" src="admin/scripts/ui/modal.js"></script>
<script type="text/javascript" src="admin/scripts/ui/tooltip.js"></script>
<script type="text/javascript" src="admin/scripts/ui/tab.js"></script>
<script type="text/javascript" src="admin/scripts/ui/separator.js"></script>
<script type="text/javascript" src="admin/scripts/ui/scale.js"></script>
<script type="text/javascript" src="admin/scripts/adapter/adapter.js"></script>
<script type="text/javascript" src="admin/scripts/adapter/button.js"></script>
<script type="text/javascript" src="admin/scripts/adapter/fullscreen.js"></script>
<script type="text/javascript" src="admin/scripts/adapter/dialog.js"></script>
<script type="text/javascript" src="admin/scripts/adapter/popup.js"></script>
<script type="text/javascript" src="admin/scripts/adapter/imagescale.js"></script>
<script type="text/javascript" src="admin/scripts/adapter/autofloat.js"></script>
<script type="text/javascript" src="admin/scripts/adapter/source.js"></script>
<script type="text/javascript" src="admin/scripts/adapter/combobox.js"></script>

<script type="text/javascript" charset="utf-8" src="admin/scripts/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="admin/scripts/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="admin/scripts/btn.js"></script>

<div class="con">
	<script type="text/plain" id="myEditor" mirage-umeditor></script>
</div>